.page-header
  %h1
    Events

%p
  Events are called when certain things happen during a match. These events range from actions like blocks
  being broken to a mob taking damage. Events can be cancelled and comprehensively maniuplated through this
  module.

= coming_soon