.page-header
  %h1
    Events

%p
  Events are called when certain things happen during a match. These events range from actions like blocks being broken to a mob taking damage. Each event can be modified through this module.

%b Placeholder, example.

:yaml
  events:
  - on: move
    conditions:
    - to:
      - id: jumps
    trigger:
    - push: 3.5
    - icarus: 1.9
  - on: move
    conditions:
    - to:
      - id: big-jumps
    trigger:
    - push: 7.5
    - icarus: 2.3
