= wrap_layout :layout do
  .jumbotron.super
    .container
      %h1
        Elements
      %p
        All the components that go into the creation of a map configuration file.

  .container
    .row
      .col-sm-3
        %ul.nav.nav-pills.nav-stacked.nav-elements
          - data.elements.each do |section|
            %li
              %h4
                = section.name
            - section.elements.each do |element|
              %li{:class => current_page.url == (element.path + '/') ? 'active' : ''}
                %a{:href => element.path}
                  = element.name
            .space
      .col-sm-9
        .module
          = yield
    