<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body

    %header.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => '/'}
            = image_tag 'logo.png', :width => '50'
            Atlas Map Documentation

    = yield

    = partial 'layouts/footer'