= wrap_layout :layout do
  .jumbotron
    .container
      %h1
        References

  .container
    .row
      .col-sm-3
        %ul.nav.nav-pills.nav-stacked.nav-elements
          - data.references.each do |section|
            %li
              %h4
                = section.name
            - section.references.each do |reference|
              %li{:class => current_page.url.end_with?(reference.path + '/') ? 'active' : ''}
                = link(reference.name, reference.path)
            .space
      .col-sm-9
        .module
          = yield