.jumbotron
  .container
    %h1
      Specification Version History

.container
  .page-header
    %h2
      Latest Map Specification:
      .label.label-warning 1.0.3
  .row-fluid
    %h3
      %code 1.0.3
    %strong Changed:
    %ul
      %li Chat channels are no longer disable-able.

  .row-fluid
    %h3
      %code 1.0.2
    %strong Changed:
    %ul
      %li Destroyable objectives now default to not being repairable and allow any blocks to be placed in the region.
  .row-fluid
    %h3
      %code 1.0.1
    %strong Added:
    %ul
      %li Kits require IDs.
  .row-fluid
    %h3
      %code 1.0.0
    %strong Added:
    %ul
      %li Specifications.
