= title('Map Element')

%p
  This is the main, root element the all maps must provide. Every subsequent element is nested inside the map element.
  Note that for an XML file to be valid, it must contain the
  :xmlcode
    <?xml version="1.0"?>
  header.

:xml
  <?xml version="1.0"?>
  <map>
    <!-- Map modules (authors, objectives, triggers, etc) -->
  </map>

= subtitle("Name")
%p
  The name of the map, displayed in game and on the web.

:xml
  <name>Revolution</name>

= subtitle("Version")
%p
  The version of the map. The version should comply with the
  = link_to('Semantic Versioning system', 'http://semver.org')
  .

:xml
  <version>5.1.3</version>
