= title(t('pages.damage'))

%p
  Use this module to disable damage across the entire map.

:xml

  <damage>
    <!-- Disables starvation on the map. -->
    <any>
      <damage>starvation</damage>
    </any>
  </damage>

%p
  The
  :xmlcode
    <attacker>
  sub check can be used to determine information about the person who inflicted the damage.
  You can also check for location and any information related to the player who is being damaged.
