= title(t('pages.damage'))

%p
  = t('modules.damage.text-1')

:xml

  <damage>
    <!-- Disables starvation on the map. -->
    <any>
      <damage>starvation</damage>
    </any>
  </damage>

= t('modules.damage.text-2')
