= title('Monuments')
%p
  Monuments are regions of blocks that can be destroyed by teams and must be protected by its owner.

%p
  Monuments belong inside of a
  :xmlcode
    <monuments/>
  tag within the
  :xmlcode
    <objectives/>
  element. The
  :xmlcode
    <monument/>
  tag inherits attributes from parent
  :xmlcode
    <monuments/>
  as demonstrated below.

:xml
  <objectives>
    <monuments materials="obsidian">
      <monuments owner="red">
        <monument name="Core">
          <region><point>32,21,50</point></region>
        </monument>

        <monument name="Zone Red">
          <region><cuboid min="-41, 50, -90" max="-100, 40, -100"/></region>
        </monument>
      </monuments>

      <monuments owner="blue">
        <monument name="Core">
          <region><point>-32,21,-50</point></region>
        </monument>

        <monument name="Zone Blue">
          <region><cuboid min="41, 50, 90" max="100, 40, 100"/></region>
        </monument>
      </monuments>
    </monuments>
  </objectives>

= attribute_table('Monument Attributes') do
  = render_partial("destroyable_attributes")
