= title(t('pages.stats'))

:xml
  <disable-stats/>

%p
  When this module is added to an XML, match statistics such as life recaps, match recaps, and match facts will not be tracked or displayed.
  Network statistics such as kills, deaths, or objectives are not effected by this.
