= title(t('pages.zones'))

:xml
  <zones>
    <base team="red">
      <region>
        <cuboid min="50, 0, -50" max="60, 30, -20"/>
      </region>
    </base>

    <base team="blue">
      <region>
        <cuboid min="-50, 0, 50" max="-60, 30, 20"/>
      </region>
    </base>

    <zone build="false" region="safe-place"/>

    <playable region="map-region"/>
  </zones>

= coming_soon