= title(t('pages.zones'))

:xml
  <zones>
    <zone modify="never">
      <region>
        <invert><cuboid min="-100, 0, -100" max="100, 120, 100"/></invert>
      </region>
      <message>{errors.outside-map}</message>
    </zone>

    <zone>
      <enter>
        <team>red</team>
      </enter>
      <message>{errors.enemy-base}</message>
    </zone>
  </zones>

= coming_soon