= title(t('pages.zones'))

:xml
  <zones>
    <!-- Prevents building outside of the map. -->
    <zone modify="never">
      <region>
        <invert><cuboid min="-100, 0, -100" max="100, 120, 100"/></invert>
      </region>
      <message>{errors.outside-map}</message>
    </zone>

    <!-- Red can score 3 points in this scorebox. -->
    <zone region="red-scorebox">
      <enter>
        <team>red</team>
      </enter>
      <scorebox points="3"/>
      <portal>
        <destination region="red-spawn"/>
      </portal>
    </zone>
  </zones>

= coming_soon