= title('Colors')

= subtitle('Team Colors')
%p
  The following colors can be used for teams.

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Color
        %th Notes
    %tbody
      %tr
        %td
          %code aqua
        %td
          This should be reserved for spectator teams.
      %tr
        %td
          %code red
        %td
      %tr
        %td
          %code blue
        %td
      %tr
        %td
          %code green
        %td
          A similar and preferred alternative is often
          %code lime
          \.
      %tr
        %td
          %code lime
        %td
          Should not be used in conjunction with green due to their similarities.
      %tr
        %td
          %code yellow
        %td
      %tr
        %td
          %code orange
        %td
      %tr
        %td
          %code purple
        %td
      %tr
        %td
          %code pink
        %td